:root{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --accent: rgb(164, 164, 161);
    --black: #000;
    --punk: #f40d0d;
    --rust: #e4920d;

    --fontLight: font-weight:100;
    --fontNormal: font-weight:normal;
    --fontDark: font-weight:800;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    background: url('/images/spaceship.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.title{
    margin:1em;
    font-size: 3em;
    color:var(--rust);
    text-align: center;
    letter-spacing: 3px;
}


.songContainer{
   
    display:flex;
    flex-wrap: wrap;    
    flex-direction:  flex-end    ;
    justify-content: space-around;

}

.song{
    z-index: 1;
    background-color: var(--accent);
    opacity: .86;
    margin:3em;
    padding:3em;
    align-content: center;
}
.song >*{
    margin:1em;
}

.musicians{
    display: flex;
}
.musicians ul{
    display: flex;
    flex-wrap: wrap;
}
.musicians  li{
  font-size: 1.3em;
    color:var(--rust);
    display: flex;
    justify-self: space-around;
    
   
}
.musicians li:not(:first-child) {
    border-left-width: 0;
}
.label{
    color:var(--accent);
    margin-left:1ch;
    padding-right: 1ch;
}

/* iphone */
@media only screen and (max-width: 800px) {
    body { 
        margin: 0;
        padding: 0;
        
        background: url('/images/spaceship.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #fff;;
        height:100%;
        width:100%; 
}
.musicians {
    display: block;

}

.label{
    color:var(--accent);
    margin-left:0ch;
    padding-right: 2ch;
}



.musicians  li{
    font-size: 1.3em;
    color:var(--rust);
      display: flex;
      justify-self: space-around;
    }
}