:root{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --accent: chartreuse;
    --black: #000;

    --fontLight: font-weight:100;
    --fontNormal: font-weight:normal;
    --fontDark: font-weight:800;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    background: url('/images/kristel.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.title{
    margin:1em;
    font-size: 3em;
    color:var(--accent);
    text-align: center;
    letter-spacing: 3px;
}


.songContainer{
   
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.song{
    z-index: 1;
    background-color: var(--accent);
    opacity: .86;
    margin:3em;
    padding:3em;
    align-content: center;
}
.song >*{
    margin:1em;
}
.musicians ul, li{
  font-size: 1.3em;
    color:#fff;
    display: inline;
   line-height: 200%;
   margin-left:2em;
}
.label{
    color:var(--accent);
}